th{
	text-align: left;
	font-size: x-large;
}

th, td {
	border-style: dotted;
	text-align: left;
	padding: 0 30px;
	vertical-align: top;
}

input {
	width: 100%;
	font-size: x-large;
	padding: 0 30px;
}


.title {
	text-align: center;
}
